body{
    background-color: brown;
    /* margin-left: 300px; */

}



button{

    cursor: pointer;
    border-radius: 30px;


}

.starter {
    margin-left: 280px;
}

button:hover{

    cursor: pointer;


}

.frame{
    margin : 0 auto;
    bottom: 500px;
    
}



.questions {
    border: 2px solid wheat;
    border-radius: 30px;
    height: 400px;
    width: 600px;
    margin-top: 20px;
    margin-left: 80px;

}

.question:hover{
    cursor: pointer;
}

.question{
    background-color:  darkkhaki;
    border-radius: 30px;
    text-align: center;
    font-size: larger;
    color: purple;
    text-decoration-line: overline;
    height: 20px;
    width: 500px;
    margin-top: 30px;
    margin-left: 40px;
}
